In [ ]:
#install pymongo
#install dnspython
!pip install pymongo
!pip install dnspython

Collecting pymongo
  Downloading pymongo-4.6.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (676 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 676.9/676.9 kB 3.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 8.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.6.3
Requirement already satisfied: dnspython in /usr/local/lib/python3.10/dist-packages (2.6.1)

In [ ]:
import pymongo
import csv
from google.colab import drive

In [ ]:
#run this to get your ip address for mongodb atlas cluster
!curl ipecho.net/plain

35.204.147.24

In [ ]:
#connect to our mongo database on our atlas server

#myclient = pymongo.MongoClient("mongodb+srv://ugur1la:jHVIhGZaAmdi7klV@cluster0.cqivcqe.mongodb.net/?retryWrites=true&w=majority")
myclient = pymongo.MongoClient("mongodb+srv://prassadht:PiiFDSRUgoaSyYTt@mangodbcluster16.jq0nyox.mongodb.net/")
db = myclient.test
#mongodb+srv://prassadht:<password>@mangodbcluster16.jq0nyox.mongodb.net/
print(db)

Database(MongoClient(host=['ac-g7fxgri-shard-00-00.jq0nyox.mongodb.net:27017', 'ac-g7fxgri-shard-00-01.jq0nyox.mongodb.net:27017', 'ac-g7fxgri-shard-00-02.jq0nyox.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-124r2o-shard-0', tls=True), 'test')

In [ ]:
#look at database names
print(myclient.list_database_names())

['sample_mflix', 'admin', 'local']

In [ ]:
#creating or accessing a new database
mydb = myclient["mydatabase"]

#make a collection called airline_data
#remember the collection is loosely equivalent
#to a sql table
mycol = mydb["airline_data"]

In [ ]:
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:


f = open('/content/drive/MyDrive/itc686/airline-safety.csv')

#airline data/airline-safety.csv')

#make a new dictionary
airline = {}

#[{'first_name':'Lisa'},{'first_name':'Pravalika'}]
lsData = []
##the key is going to be the airline name and the value is the sum of incidents_85_99 + fatal_accidents_85_99
for row in csv.DictReader(f):
    #example of casting avail_seat_km_per_week to int before saving back to dictionary
    row['avail_seat_km_per_week'] = int(row['avail_seat_km_per_week'])
    lsData.append(row)

In [ ]:
#insert "documents" aka dictionaries into the airline_data collection
lsIDS = mycol.insert_many(lsData)

In [ ]:
#just get the first row
x = mycol.find_one()

print(x)

{'_id': ObjectId('6621456626777fc6e7149343'), 'airline': 'Aer Lingus', 'avail_seat_km_per_week': 320906734, 'incidents_85_99': '2', 'fatal_accidents_85_99': '0', 'fatalities_85_99': '0', 'incidents_00_14': '0', 'fatal_accidents_00_14': '0', 'fatalities_00_14': '0'}

In [ ]:
for x in mydoc:
  print(x)

In [ ]:
print(x)

{'_id': ObjectId('6621456626777fc6e7149343'), 'airline': 'Aer Lingus', 'avail_seat_km_per_week': 320906734, 'incidents_85_99': '2', 'fatal_accidents_85_99': '0', 'fatalities_85_99': '0', 'incidents_00_14': '0', 'fatal_accidents_00_14': '0', 'fatalities_00_14': '0'}

In [ ]:
#need to change the datatype to string

In [ ]:
# Query 1: Find all airlines with fatal accidents between 2000 and 2014
fatal_accidents_query = mycol.find({'fatal_accidents_00_14': {'$gt': 0}})
#print("Airlines with fatal accidents between 2000 and 2014:")
for airline in fatal_accidents_query:
    print(airline)

In [ ]:
for lsData in fatal_accidents_query:
    print(lsData['airline'])

In [ ]:
# Query 1: Find all airlines with fatal accidents between 2000 and 2014
fatal_accidents_query = mycol.find({
    '$expr': {'$gt': [{'$toInt': '$fatal_accidents_00_14'}, 0]}
})

print("Airlines with fatal accidents between 2000 and 2014:")
for airline in fatal_accidents_query:
    print(airline['airline'])

Airlines with fatal accidents between 2000 and 2014:
Aeroflot*
Air France
Air India*
Air New Zealand*
Alaska Airlines*
American*
China Airlines
Delta / Northwest*
Egyptair
Ethiopian Airlines
Garuda Indonesia
Gulf Air
Kenya Airways
Malaysia Airlines
Pakistan International
Philippine Airlines
SAS*
Singapore Airlines
TACA
TAM
Thai Airways
Turkish Airlines
United / Continental*
US Airways / America West*
Aeroflot*
Air France
Air India*
Air New Zealand*
Alaska Airlines*
American*
China Airlines
Delta / Northwest*
Egyptair
Ethiopian Airlines
Garuda Indonesia
Gulf Air
Kenya Airways
Malaysia Airlines
Pakistan International
Philippine Airlines
SAS*
Singapore Airlines
TACA
TAM
Thai Airways
Turkish Airlines
United / Continental*
US Airways / America West*
Aeroflot*
Air France
Air India*
Air New Zealand*
Alaska Airlines*
American*
China Airlines
Delta / Northwest*
Egyptair
Ethiopian Airlines
Garuda Indonesia
Gulf Air
Kenya Airways
Malaysia Airlines
Pakistan International
Philippine Airlines
SAS*
Singapore Airlines
TACA
TAM
Thai Airways
Turkish Airlines
United / Continental*
US Airways / America West*

In [ ]:
# Query 2: Find the airline with the most incidents and fatal accidents between 1985 and 1999
most_incidents_query = mycol.find_one(sort=[('incidents_85_99', -1)])
print("Airline with the most incidents between 1985 and 1999:", most_incidents_query['airline'])

Airline with the most incidents between 1985 and 1999: Xiamen Airlines

In [ ]:
most_incidents_query = mycol.aggregate([
    {'$addFields': {
        'incidents_85_99_int': {'$toInt': '$incidents_85_99'}
    }},
    {'$sort': {'incidents_85_99_int': -1}},
    {'$limit': 1}
])

most_incidents_result = next(most_incidents_query)
most_incidents_airline = most_incidents_result['airline']
most_incidents_count = most_incidents_result['incidents_85_99_int']

print("Airline with the most incidents between 1985 and 1999:", most_incidents_airline)

Airline with the most incidents between 1985 and 1999: Aeroflot*

In [ ]:
no_fatalities_query = mycol.aggregate([
    {'$match': {'fatalities_00_14': {'$eq': '0'}}},
    {'$project': {'airline': 1}},
])

print("Airlines with no fatalities between 2000 and 2014:")
for airline in no_fatalities_query:
    print(airline['airline'])

Airlines with no fatalities between 2000 and 2014:
Aer Lingus
Aerolineas Argentinas
Aeromexico*
Air Canada
Alitalia
All Nippon Airways
Austrian Airlines
Avianca
British Airways*
Cathay Pacific*
Condor
COPA
El Al
Finnair
Hawaiian Airlines
Iberia
Japan Airlines
KLM*
Korean Air
LAN Airlines
Lufthansa*
Qantas*
Royal Air Maroc
Saudi Arabian
South African
Southwest Airlines
Sri Lankan / AirLanka
SWISS*
TAP - Air Portugal
Vietnam Airlines
Virgin Atlantic
Xiamen Airlines
Aer Lingus
Aerolineas Argentinas
Aeromexico*
Air Canada
Alitalia
All Nippon Airways
Austrian Airlines
Avianca
British Airways*
Cathay Pacific*
Condor
COPA
El Al
Finnair
Hawaiian Airlines
Iberia
Japan Airlines
KLM*
Korean Air
LAN Airlines
Lufthansa*
Qantas*
Royal Air Maroc
Saudi Arabian
South African
Southwest Airlines
Sri Lankan / AirLanka
SWISS*
TAP - Air Portugal
Vietnam Airlines
Virgin Atlantic
Xiamen Airlines
Aer Lingus
Aerolineas Argentinas
Aeromexico*
Air Canada
Alitalia
All Nippon Airways
Austrian Airlines
Avianca
British Airways*
Cathay Pacific*
Condor
COPA
El Al
Finnair
Hawaiian Airlines
Iberia
Japan Airlines
KLM*
Korean Air
LAN Airlines
Lufthansa*
Qantas*
Royal Air Maroc
Saudi Arabian
South African
Southwest Airlines
Sri Lankan / AirLanka
SWISS*
TAP - Air Portugal
Vietnam Airlines
Virgin Atlantic
Xiamen Airlines

In [ ]:
# Query 4: Find the total available seat kilometers for all airlines
total_seat_km_query = mycol.aggregate([
    {'$group': {'_id': None, 'total_seat_km': {'$sum': '$avail_seat_km_per_week'}}}
])
total_seat_km = next(total_seat_km_query)['total_seat_km']
print("Total available seat kilometers for all airlines:", total_seat_km)

Total available seat kilometers for all airlines: 232616379195

In [ ]:
avg_fatalities_per_incident_query = mycol.aggregate([
    {'$match': {'incidents_85_99': {'$gt': '0'}}},
    {'$group': {
        '_id': None,
        'total_fatalities': {'$sum': {'$toInt': '$fatalities_85_99'}},
        'total_incidents': {'$sum': {'$toInt': '$incidents_85_99'}}
    }}
])

result = next(avg_fatalities_per_incident_query)
total_fatalities = int(result['total_fatalities']) if 'total_fatalities' in result else 0
total_incidents = int(result['total_incidents']) if 'total_incidents' in result else 0

if total_incidents != 0:
    avg_fatalities_per_incident = total_fatalities / total_incidents
else:
    avg_fatalities_per_incident = 0

print("Average fatalities per incident between 1985 and 1999:", avg_fatalities_per_incident)

Average fatalities per incident between 1985 and 1999: 15.659203980099502

In [ ]:
# Update statement: Update the fatal accidents count for an airline
mycol.update_one({'airline': 'Lufthansa*'}, {'$set': {'fatal_accidents_00_14': 2}})
print("Updated fatal accidents count for Lufthansa*")

Updated fatal accidents count for Lufthansa*

In [ ]:
# Delete document statement: Delete an airline from the collection
mycol.delete_one({'airline': 'Xiamen Airlines'})
print("Deleted Xiamen Airlines from the collection")

Deleted Xiamen Airlines from the collection